body{
    text-align: center;
    font-family: Open Sans, sans-serif;   
    background-color: #8A71C9; 
    color:#fff
}

h2{
  color: #2A0074;
}

.title-1{
   color:#04ff9f;
}
.title-2{
    color:#FF9E9E;
}
.title-3{
    color:#ffe36d;
}